body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #000000,#151024, #40397B,  #8A80DB);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  font-family: 'Poppins', sans-serif;
  color: white;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.glass_card {
  height: 150px;
  width: 300px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}